body {
  margin: 0px;
  background-color: black;
  color: white;
  font-family: 'Share Tech Mono', monospace;
/*   display: flex; */
/*   align-items: center; */
/*   justify-content: center; */
/*   width: 100%; */
/*   max-width: 100%; */
/*   min-height: 100vh; */
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#main {
  text-align: center;
  margin: 0px auto 5vh;
}

h1 {
  font-size: 72px;
}

.button {
  padding: 0px 4px;
}



